# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Env / secrets
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
